.pokemon-details-name{
    font-size: xx-large;
    font-weight: 400;
    margin:5px;
    
}

.pokemon-details-name span{
    letter-spacing: 0.5rem;
}

.pokemon-details-types{
    display: flex;
    gap: 3rem;
    margin: 2rem;
    font-size: larger;
}
.pokemon-details-types div{
    border: 1px solid gainsboro;
    border-radius: 15px;
    padding:0.5rem 1rem;
    background-color:gainsboro;
}
.pokemon-details-image{
    margin-top: 2rem;
    max-height: 200px;
}
.pokemon-details-wrapper{
    display: flex;
    flex-direction: column;
}
